.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(118, 23, 23);
  color: white;
  font-weight: 700;
  padding: 5px 0;
}

.food-cart-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(71, 13, 13);
  padding: 4px 50px;
  border-radius: 50px;
}

.food-cart-btn .order-count {
  background-color: rgb(118, 23, 23);
  padding: 5px 20px;
  border-radius: 10px;
}
